---
import '../styles/global.css';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" /> 
		<meta name="description" content="PCFIX E-commerce de tecnología" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    
		<style is:global>
      /* CAMBIO: Ajusta el valor de 'bottom' para centrarlo en el nuevo espacio */
      .swiper-pagination {
        bottom: 12px !important; /* Ajustado de 0px a 12px */
      }

      .swiper-pagination-bullet-active {
        background-color: #121D40 !important;
      }
    </style>
	</head>
	<body class="bg-light text-secondary font-sans">
		<slot />
	</body>
</html>